<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PNBBank">

        <!-- Entry point: reads key from Intent -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Screen 1: Card Re-Issuance -->
        <activity
            android:name=".ui.cardreissuance.CardReissuanceActivity"
            android:exported="false" />

        <!-- Screen 2: Other Services -->
        <activity
            android:name=".ui.otherservices.OtherServicesActivity"
            android:exported="false" />

        <!-- Screen 3: Dedicated Full Screen WebView -->
        <activity
            android:name=".ui.otherservices.ServiceWebViewActivity"
            android:exported="false" />

    </application>

</manifest>